main {
  height: calc(100lvh - 90px);
  width: 100%;
  display: grid;
  justify-content: stretch;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.color-choice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.color-1 {
  background-color: var(--color-1);
}
.color-2 {
  background-color: var(--color-2);
}
.color-3 {
  background-color: var(--color-3);
}
.color-4 {
  background-color: var(--color-4);
}
.color-5 {
  background-color: var(--color-5);
}

.color-hex {
  height: 46px;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  background-color: white;
  color: #2b283a;
  filter: drop-shadow(var(--hex-drop-shadow));
}
